In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import time

In [15]:
train = pd.read_csv('./data/rawdata/prepro_train.csv')
test = pd.read_csv('./data/rawdata/prepro_test.csv')

date_train_lunch = pd.read_csv('./data/preprocess/date_train_lunch.csv')
date_train_dinner = pd.read_csv('./data/preprocess/date_train_dinner.csv')
date_test_lunch = pd.read_csv('./data/preprocess/date_test_lunch.csv')
date_test_dinner = pd.read_csv('./data/preprocess/date_test_dinner.csv')

train['요일'] = train['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})
test['요일'] = test['요일'].map({'월':0, '화':1, '수':2, '목':3, '금':4})

x_train = train[['요일', '본사정원수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수']]
y1_train = train['중식계']
lunch_train = date_train_lunch[['강수량(mm)','적설(cm)']]
dinner_train = date_train_dinner[['강수량(mm)','적설(cm)']]
y2_train = train['석식계']

In [16]:
date_train_lunch

              날짜  요일  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  적설(cm)
0     2016-02-01   0     3.0      0.0      1.9   24.0     0.0
1     2016-02-02   1     1.7      0.0      1.6   24.0     0.0
2     2016-02-03   2     3.2      0.0      1.5   31.0     0.0
3     2016-02-04   3     3.7      0.0      0.7   30.0     0.0
4     2016-02-05   4     6.3      0.0      1.0   17.0     0.0
...          ...  ..     ...      ...      ...    ...     ...
1144  2020-10-26   0    18.6      0.0      1.2   42.0     0.0
1145  2020-10-27   1    18.1      0.0      0.8   51.0     0.0
1146  2020-10-28   2    16.6      0.0      0.3   67.0     0.0
1147  2020-10-29   3    17.4      0.0      2.7   19.0     0.0
1148  2020-10-30   4    17.6      0.0      1.7   43.0     0.0

[1149 rows x 7 columns]

In [17]:
x_train

      요일  본사정원수  본사출장자수  본사시간외근무명령서승인건수  현본사소속재택근무자수
0      0   2601     150             238          0.0
1      1   2601     173             319          0.0
2      2   2601     180             111          0.0
3      3   2601     220             355          0.0
4      4   2601     181              34          0.0
...   ..    ...     ...             ...          ...
1144   0   3008     228             570        144.0
1145   1   3008     265             496        136.0
1146   2   3008     287               3        138.0
1147   3   3008     298             418        137.0
1148   4   3008     298               1        107.0

[1149 rows x 5 columns]

In [18]:
pd.concat([x_train, lunch_train], axis=1)

,요일,본사정원수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,기온(°C),강수량(mm),습도(%),적설(cm)
0,0,2601,150,238,0.0,3.0,0.0,24.0,0.0
1,1,2601,173,319,0.0,1.7,0.0,24.0,0.0
2,2,2601,180,111,0.0,3.2,0.0,31.0,0.0
3,3,2601,220,355,0.0,3.7,0.0,30.0,0.0
4,4,2601,181,34,0.0,6.3,0.0,17.0,0.0
...,...,...,...,...,...,...,...,...,...
1144,0,3008,228,570,144.0,18.6,0.0,42.0,0.0
1145,1,3008,265,496,136.0,18.1,0.0,51.0,0.0
1146,2,3008,287,3,138.0,16.6,0.0,67.0,0.0
1147,3,3008,298,418,137.0,17.4,0.0,19.0,0.0
1148,4,3008,298,1,107.0,17.6,0.0,43.0,0.0